*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  height: 100%;
}

.wrapper {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  font-weight: 200;
  overflow: hidden;
}

.page-box {
  margin: 15% auto;
  height: 350px;
  max-width: 550px;
  width: 100%;
  background: #f8f8f8;
  border-radius: 20px;
  position: relative;
  padding: 3rem;
  color: #000;
}

.buttons-box {
  position: absolute;
  bottom: 50px;
  width: 110%;
  left: -5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prev {
  background: #ededed;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.next {
  background: #262626;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(135deg);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 20px;
  left: 20px;
}

.next > .arrow {
  transform: rotate(-45deg);
}

.text-header {
  font-size: 28px;
}

.input-section {
  margin: 2rem 0;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.dotted-line {
  background-repeat: repeat-x;
  background-size: 11px 4px;
  height: 4px;
  margin: 0px;
  background-image: radial-gradient(
    circle,
    rgb(105, 105, 105) 1px,
    transparent 2px
  );
}

/* select  */

.select-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-select {
  width: 200px;
  font-family: "Raleway", sans-serif;
}

.select-box {
  background-color: #f8f8f8;
  color: #000;
  font-family: "Raleway", sans-serif;
  padding: 12px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}

.select-section:first-of-type ~ .select-box {
  background-color: red;
}

.custom-select::before {
  content: "\01F863";
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.custom-select:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-select select option {
  padding: 30px;
}

/* functions  */

#s4 {
  display: block;
}

#s2,
#s3,
#s1 {
  display: none;
}
