*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  height: 100%;
}

.wrapper {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  font-weight: 200;
  overflow: hidden;
}

.page-box {
  margin: 15% auto;
  height: 350px;
  max-width: 550px;
  width: 100%;
  background: #f8f8f8;
  border-radius: 20px;
  position: relative;
  padding: 3rem;
  color: #000;
}

.buttons-box {
  position: absolute;
  bottom: 50px;
  width: 110%;
  left: -5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prev {
  background: #ededed;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.next {
  background: #262626;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(135deg);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 20px;
  left: 20px;
}

.next > .arrow {
  transform: rotate(-45deg);
}

.text-header {
  font-size: 28px;
}

.input-section {
  margin: 2rem 0;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.dotted-line {
  background-repeat: repeat-x;
  background-size: 11px 4px;
  height: 4px;
  margin: 0px;
  background-image: radial-gradient(
    circle,
    rgb(105, 105, 105) 1px,
    transparent 2px
  );
}

/* select  */

.select-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.custom-select {
  position: relative;
  font-family: "Raleway", sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #f8f8f8;
  font-size: 20px;
  box-shadow: 4px 4px 4px rgba(148, 148, 148, 0.13),
    -4px -4px 4px rgba(255, 255, 255, 0.8);
  outline: none;
  border-radius: 25px;
  padding: 12px 40px 12px 12px;
}

#select-1 {
  background-position: 76px 21px;
}

#select-2 {
  background-position: 198px 21px;
}

.select-selected:after {
  position: absolute;
  content: url("Arrow 4.svg");
  top: 10px;
  right: 24px;
  width: 0;
  height: 0;
}

.select-selected.select-arrow-active:after {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  top: 38px;
}

.select-items div,
.select-selected {
  font-size: 16px;
  color: #000;
  padding: 12px 40px 12px 12px;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #f8f8f8;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 25px;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  font-weight: 400;
}

/* checkbox  */

ul {
  position: relative;
}

ul li {
  position: relative;
  list-style: none;
  text-align: center;
  margin-top: 15px;
}

ul li label {
  position: relative;
  cursor: pointer;
}

ul li label input[type="checkbox"] {
  position: absolute;
  /* opacity: 0; */
}

ul li label input[type="checkbox"]:checked ~ .icon-box {
  box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

ul li label input[type="checkbox"]:checked ~ .icon-box .fa {
  transform: scale(0.95);
}

ul li label .icon-box {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ul li label .icon-box .fa {
  font-size: 30px;
  color: #6a9bd8;
}
/* dotted cointainer  */

/* Customize the label (the container) */
.dot-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.dot-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.dot-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.dot-container:hover input ~ .dot-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.dot-container input:checked ~ .dot-checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.dot-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.dot-container input:checked ~ .dot-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.dot-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* functions  */

#s6 {
  display: block;
}

#s1,
#s2,
#s3,
#s4,
#s5 {
  display: none;
}
